.center {
    background-color: lightgrey;
    width: 1000px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}
.form-input {
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    width: 100%;
    height: 40px;
    border: none;
    padding: 0 10px;
    box-shadow: none;
    outline: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.form-input.border-bottom {
    position: relative;
    background: transparent;
    padding: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
}
.form-input.border-bottom ~ .border-bottom-animation {
    position: absolute;
    content: "";
    width: 0;
    background: rgba(0, 0, 0, .2);
    height: 2px;
    z-index: 99;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
/* Border bottom center */
.form-input.border-bottom ~ .border-bottom-animation.center {
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.form-input.border-bottom:focus ~ .border-bottom-animation.center {
    background: #4285F4;
    width: 100%;
}

input[type="file"]{
    display: none;
}

.right {
    text-align: right;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}

body.dark {
    background: #292C35;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}


.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}
